<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> -->
   <div class="box">
     <div class="dropdown">Button
   <span class="left-icon"></span>
   <span class="right-icon"></span>
   <div class="items" >
 <a href="#" style="--i:1 "><span></span>HTML</a>
 <a href="#" style="--i:2 "><span></span>CSS</a>
 <a href="#" style="--i:3 "><span></span>Javascript</a>
   </div>
     </div>

   </div>
<!-- <script>
  const dropdown = document.querySelector('.dropdown');

  dropdown.addEventListener('click', () => {
    dropdown.classList.toggle('active');
  }) -->
<!-- </script> -->
<!-- 
</body>
</html> -->